<a href="https://colab.research.google.com/github/rekuantsun/PYTHON2-COLAB/blob/main/P2_15_11_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Khởi tạo tuple
tup1=('le','quang','trung',11,2)
tup2=(1,2,3,4,5)
tup3=('a','b','c','d')

In [2]:
#truy cập các phần tử
tup1=('fb','zl','ms',11,22)
print(tup1[1:4])
print(tup1[2])
print(tup1[:-1])

('zl', 'ms', 11)
ms
('fb', 'zl', 'ms', 11)

In [4]:
#thay đổi giá trị của tuple
tup1 = (29,1.1,202)
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
print(tup3)

(29, 1.1, 202, 'abc', 'xyz')

In [55]:
#Xóa phần tử của Tuples
tup1=('hello','hi','xinchao',2,22)
print(tup1)
del tup1

('hello', 'hi', 'xinchao', 2, 22)

In [11]:
#Các thao tác cơ bản
tup1=(1,2,3,4,5,6)
print(len(tup1))
tup2=(22,33,44)
print(tup1+tup2)
print(tup2*2)
print(2 in tup1)
for i in tup2:
  print(i,end=' ')

6
(1, 2, 3, 4, 5, 6, 22, 33, 44)
(22, 33, 44, 22, 33, 44)
True
22 33 44

In [15]:
#Indexing & Slicing
T = ('Red', 'Yellow', 'Green')
print(T[1])
print(T[-1])
print(T[:-1])

Yellow
Green
('Red', 'Yellow')

In [17]:
#Các hàm dựng sẵn của Tuples
t1=(1,2,3,4,5)
t2=(22,33,55)
print(cmp(t1,t2))
print(len(t1))
print(max(t1))
print(min(t1))
t3=[29,11,2002]
print(tuple(t3))

5
5
1
(29, 11, 2002)

In [22]:
#Khởi tạo và truy cập Dictionary
dict1 = {'Name': 'Trung', 'Age': 18, 'Class': 'KHDL&TTNT'}
print("dict['Name']: ", dict1['Name'])
print("dict['Age']: ", dict1['Age'])
print("dict['Class']: ", dict1['Class'])

dict['Name']:  Trung
dict['Age']:  18
dict['Class']:  KHDL&TTNT

In [21]:
#Thay đổi giá trị phần tử của Dictionary
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict1['Name'] = 'Trung'
dict1['Age'] = 18
dict1['School'] = 'Đại học Huế'
print("dict['Name']: ", dict1['Name'])
print("dict['Age']: ", dict1['Age'])
print("dict['School']: ", dict1['School'])

dict['Name']:  Trung
dict['Age']:  18
dict['School']:  Đại học Huế

In [24]:
#Xóa phần tử của Dictionary
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict1['Name']
print(dict1)
dict1.clear()
print(dict1)
del dict1

{'Age': 7, 'Class': 'First'}
{}

In [26]:
#Các hàm dựng sẵn của Dictionary
d1={'name':'trung'}
d2={'class':'khdl&ttnt'}
print(cmp(d1, d2))
print(len(d1))
print(str(d1))

1
{'name': 'trung'}

In [60]:
#Các phương thức dựng sẵn của Dictionary
d1={'Name': 'Trung', 'Age': 18, 'Class': 'KHDL&TTNT'}
print(d1.clear())
d2={'subject':'python2','teacher':'mr.cuong'}
d3 = d2.copy()
print(d3)
print(d2.get('teacher'))
print(d2.has_key('subject'))
print(d2.items())
print(d2.keys())
d3={'school':'Đại học Huế','class':'KHDL&TTNT'}
d2.update(d3)
print(d2)
print(d2.values())

None
{'subject': 'python2', 'teacher': 'mr.cuong'}
mr.cuong

AttributeError: ignored

In [36]:
#Khởi tạo
Set = set(["a", "b", "c"])
print("Set: ")
print(Set)
Set.add("d")
print("\nSet after adding: ")
print(Set)

Set:
{'c', 'b', 'a'}

Set after adding:
{'c', 'b', 'a', 'd'}

In [63]:
#Thêm phần tử
people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)
people.add("Daxit")
print('after change:',people)

People:
{'Jay', 'Archi', 'Idrish'}
after change: {'Daxit', 'Jay', 'Archi', 'Idrish'}

In [40]:
#Bớt phần tử
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)

{'Fri', 'Wed', 'Mon', 'Sat', 'Thu', 'Tue'}

In [41]:
#Xóa toàn bộ
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)

set1.clear()
print("\nSet after using clear() function")
print(set1)

Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()

In [42]:
#Phép hợp
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}

population = people.union(vampires)
print("Union using union() function")
print(population)

population = people|dracula
print("\nUnion using '|' operator")
print(population)

Union using union() function
{'Idrish', 'Karan', 'Jay', 'Arjun', 'Archil'}

Union using '|' operator
{'Deepanshu', 'Idrish', 'Jay', 'Raju', 'Archil'}

In [44]:
#Phép giao
set1 = set()
for i in range(5):
  set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}

set3 = set1.intersection(set2)
print("Intersection using intersection() function")
print(set3)

set3 = set1 & set2
print("\nIntersection using '&' operator")
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

In [45]:
#Phép hiệu
set1 = set()
for i in range(5):
  set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}

set3 = set1.difference(set2)
print(" Difference of two sets using difference() function")
print(set3)

set3 = set1 - set2
print("\nDifference of two sets using '-' operator")
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

In [47]:
#Kiểm tra tập con - tập cha
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

True
True

In [48]:
#Lấy thời gian hiện tại
import time
ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)
localtime = time.localtime(time.time())
print("Local current time :", localtime)

Number of ticks since 12:00am, January 1, 1970: 1636963129.053849
Local current time : time.struct_time(tm_year=2021, tm_mon=11, tm_mday=15, tm_hour=7, tm_min=58, tm_sec=49, tm_wday=0, tm_yday=319, tm_isdst=0)

In [49]:
#Định dạng thời gian
import time;
localtime = time.asctime( time.localtime(time.time()) )
print("Local current time :", localtime)

Local current time : Mon Nov 15 07:59:20 2021

In [52]:
#Lấy lịch 1 tháng
import calendar
cal = calendar.month(2021, 11)
print("Here is the calendar:")
print(cal)

Here is the calendar:
   November 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30